
html{
  background: url(background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

}

@import url('https://fonts.googleapis.com/css?family=Handlee|PT+Sans:400,700');

nav {
  background-color: grey;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  font-family: sans-serif;
}

nav li {
  display: inline-block;
  margin-right: 0px;
  font-size: 20px;
}

nav a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: none;
  color: pink;
  background-color:black;
}

h1{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  color: rgb(255,105,180);
  font-size: 30px;
}

.wrapper{
  padding-top:50px;
  padding-bottom: 20px;
  width: 850px;
  margin: 0 auto;
}

h2{
  font-weight: 400;
  font-style: oblique;
  font-size: 15px;
  color: rgb(255,105,180);
  grid-column: 1/-1;
  border-bottom:dotted 2px black;
  padding-bottom: 10px;
}
h3{
  font-family: sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: grey;
}


body{
  margin: 0;
  font-family: "Handlee", sans-serif;
  font-size: 15px;
  text-align: justify;
}

.edugrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.langrid{
  display: grid;
  grid-template-rows: auto;
}


.othergrid{
  display: grid;
  grid-template-rows: auto;

}


section a{
  color: black;
}

section a:hover{
 color: black;
}


section a:active{
 color: black;
}

section a:visited{
 color: black;
}

section {
  margin-bottom: 10px;
  padding: 10px;
}

section p{
  margin: 0;
}


article{
  padding-bottom:10px;
}


.contactgrid{
  float: inherit;
  margin-left: 450px;
  font-size: 18px;
  margin-top: 0px;
  display: grid;
  grid-template-rows: auto;
  text-align: center;
  margin-right: 450px;

}


.center{
  float: none;
  padding-top: none;
  margin-left: 450px;
  font-size: 18px;
  margin-top: 0px;
  display: grid;
  grid-template-rows: auto;

}
.center{
display: inline-grid;
margin-bottom: 30px;
height: 250px;
border-radius: 60%;
}

footer{
  	padding-top: 20px;
    margin-bottom: 0px;
    color: grey;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0px;
    text-align: center;
  }

.redes li {
    display:inline-block;
    list-style-type:none;
    }

.redes li img {
    width:40px;
    height:40px;
    margin-right: 60px;
  }

.png{
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 20px;
  }

.png li{
  display: inline;
  padding-left: 3px;
  padding-right: 3px;
  }

.png li a{
  display: inline-block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 28px;
  }



.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: auto;
  justify-self: center;
  padding-left: 290px;
  position: relative;
  bottom: 80px;
  right: 30px;
}

.box {
  border-radius: 5px;
  padding: 5px;

}

.box1{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 170px;
}

.containercontact h1{
    font-size: 60px;
    text-align: center;
    max-width: 960px;
    margin-top: 40px;
    margin-left: 100px;
    text-align: center;
    padding-left: 120px;

  }

  .icon1 img {
    width:270px;
    height:300px;
    margin-right: 200px;
    }

.wrapper1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  color: white;
}

.box {
  color: white;
  border-radius: 15px;
  padding: 15px;
  font-size: 70%;
}

#home1{
  display: grid;
  grid-template-columns:1fr;
  justify-self: center;
  padding-left: 230px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 500px;
}

.container{
  padding-left: 370px;
}



#about {
    width: 960px;
    margin: 0 auto;
    padding-top: 5px;
    padding-left: 100px;
  }

  #about p{
    text-align: left;
    font-size: 15px;
    height: 50px;
    padding-right: 90px;
    margin-top: 20px;


  }
  #about h1{
    font-size: 50px;
    padding-left: 300px;
  }
  .me{
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 110px;
    max-width: 500px;
    margin: 75px;
	  border: 45px ridge pink;
    border-radius: 100px;
    padding-top: 20px;
    font-family:monospace;
  }

  .your-class{
    height:70%;
    width: 70%;
    top: 60px;
    padding-left: 170px;
    margin-bottom: 100px;
  }

  .your-class p{
    padding-left: 420px;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    color: rgb(255,105,180);
    font-size: 40px;
  }

  .slider-image{
  width: 70%;
  height: 70%;
  display:block;
  color: transparent;
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding-left: 230px;

  }
